.bash_history
.bash_logout
.bundle
.cache
.composer
.config
.cpanm
.gem
.gitconfig
.local
.node_repl_history
.npm
.ssh
.viminfo
go/*
local/*
xbuild/*

isucari/webapp/python/venv
isucari/webapp/sql/*
isucari/bin
isucari/initial-data
*/upload/*
*/images/*

*.swp
